@import url("original-styles.css");

/* CUSTOM - Font change starts */
 @font-face {
    font-family: "Adobe Clean";
    src: local('adobe-clean-400.woff2');
    font-weight: normal;
    font-style: normal;  
    }
  
    @font-face {
      font-family: "Adobe Clean";
      src: local('adobe-clean-700.woff2');
      font-weight: 700;
      font-style: normal;  
      }
      
      @font-face {
        font-family: "Adobe Clean";
        src: local('adobe-clean-900.woff2');
        font-weight: 900;
        font-style: normal;  
        }    
/* CUSTOM - Font change ends */  
     
/* CUSTOM - Root Colors and Fontchange starts */
   :root {
    /* colors */
    --link-color: #035fe6;
    --link-hover-color: #136ff6;
    --secondary-link-color: #EB0F00;
    --background-color: #fff;
    --secondary-background-color: #EB0F00;
    --tertiary-background-color: #2C2C2C;
    --overlay-background-color: #eee;
    --highlight-background-color: #ccc;
    --text-color: #000;
    --text-color-white: #fff;
  
    /* Colors */
    --spectrum-blue: #1473E6;
    --brand-color-purple: #8A8DF3;
    --brand-color-dark-purple: #7473E4;
    --brand-color-pink: #F1BCE7;
    --brand-color-green-yellow: #EBF3A4;
    --highlight-gradient: linear-gradient(75deg, #DB3278, #EE732F);

    /* those (background) colors were missing */
    --color-black: #000;
    --color-gray-100: rgb(10% 10% 10%);
    --color-gray-200: rgb(20% 20% 20%);
    --color-gray-500: rgb(50% 50% 50%);
    --color-white: #fff;
    --color-info-accent: inherit;
    --color-info-accent-hover: inherit;
    --color-info-accent-down:inherit;
    --color-info-primary: inherit;
    --color-info-primary-hover: inherit;
    --color-info-primary-down: inherit;
    --color-info-secondary: inherit;
    --color-info-secondary-hover: inherit;
    --color-info-secondary-down: inherit;
    --color-info-accent-reverse: inherit;
    --color-info-accent-reverse-down: inherit;

    /* Redesign colors */
    --color-font-grey: #2C2C2C;
    --color-light-grey-600: #686868;
    --color-eyebrow-light-grey: #444;
    --color-eyebrow-highlight: #6870EC;
    --color-accent-blue: #6870EC;
    --color-accent-highlight-yellow: #E3FA8C;
    --color-accent-pink-bg: #F0B2F2;
    --color-accent-pink-content: #88008D;
    --color-accent-purple-bg: #474eb8;
    --color-accent-purple-content: #E2E4FF;
    --color-accent-lightgreen-bg: #E1FA82;
    --color-accent-lightgreen-content: #3B5700;
    --color-accent-yellow-bg: #F5E66B;
    --color-accent-yellow-content: #7F6000;

    /* background colors */
    --bg-color-lightgrey: #F8F8F8;
    --bg-color-grey: #E8E8E8;
    --bg-color-grey-2: #D6D6D6;
    --overlay-curtain-bg-color: rgb(0 0 0 / 60%);
    --overlay-curtain-bg-filter: blur(0.05em);
    --code-bg-color: #F1F1F1;
  
    /* fonts */
    --body-font-family: 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
    --heading-font-family: var(--body-font-family);
    --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  
    /* body sizes */
    --body-font-size-xxl: 28px;
    --body-font-size-xl: 22px;
    --body-font-size-l: 20px;
    --body-font-size-m: 16px;
    --body-font-size-s: 14px;
    --body-font-size-xs: 13px;
    --body-font-size-xxs: 12px;
    --body-font-size-xxxs: 11px;
  
    /* heading sizes */
    --heading-font-size-xxl: 48px;
    --heading-font-size-xl: 40px;
    --heading-font-size-l: 32px;
    --heading-font-size-m: 24px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  
    /* nav height */
    --nav-height: 64px;  
  }
  /* CUSTOM - Root Colors and Fontchange ends */
  
  /* CUSTOM - Button redesign animation starts */  
  
  /* primary button: blue bg */
   a.button:any-link,
  main .button {
  cursor: pointer;
  text-decoration: none;
  padding: 5.5px 15px;
  text-align: center;
  font-size: var(--type-body-xs-size);
  line-height: var(--body-line-height);
  font-style: normal;
  font-weight: 600;
  color: var(--color-white);
  background: transparent;
  border: 2px solid var(--spectrum-blue);
  border-radius: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  position: relative;
  height: fit-content;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  transform: translateZ(0);
  
  /* fix for ios overflow with border-radius not working */
  isolation: isolate;
  }
  
  main .button {
  font-weight: 500;
  }
  
  a.button:any-link span {
  color: var(--color-white);
  transition: all 0.3s ease-in-out;
  }
  
   a.button:any-link:hover,
  main .button:hover {
  color: var(--spectrum-blue);
  border-color: var(--spectrum-blue);
  transform: translateZ(0);
  }
  
   a.button:any-link:hover span{
  color: var(--spectrum-blue);
  }
  
   a.button:any-link::before,
  main .button::before  {
  content: '';
  position: absolute;
  left: -102%;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 202%;
  height: 104%;
  z-index: -1;
  
  /* 1st value: hovered color, 2nd value: original color */
  background: radial-gradient(circle at left, var(--color-white) 50%, var(--spectrum-blue) 50%);
  }
  
   a.button:any-link:hover::before,
  main .button:hover::before {
  left: 0%;
  }
  
  /* secondary button: grey border transparent bg -> border button */
   a.button.secondary:any-link {
  color: var(--color-font-grey);
  border-color: var(--color-font-grey);
  }
  
   a.button.secondary:any-link:hover {
  color: var(--color-white);
  }
  
   a.button.secondary:any-link::before {
  /* 1st value: hovered color, 2nd value: original color */
  background: radial-gradient(circle at left, var(--color-font-grey) 50%, transparent 50%);
  }
  
  /* .black-border button: black border transparent bg -> border button */
   a.button.black-border:any-link {
  color: var(--color-black);
  border-color: var(--color-black);
  }
  
   a.button.black-border:any-link:hover {
  color: var(--color-white);
  }
  
   a.button.black-border:any-link::before {
  /* 1st value: hovered color, 2nd value: original color */
  background: radial-gradient(circle at left, rgb(0 0 0 / 50%) 50%, transparent 50%);
  }
  
  /* larger size */
   a.button.large:any-link {
  font-size: var(--type-body-s-size);
  line-height: var(--type-body-s-lh);
  }
  
  @media screen and (min-width: 900px) {
   a.button.large:any-link {
      font-size: var(--type-body-m-size);
      line-height: 1.35;
      padding: 8px 20px;
      margin-bottom: 0;
  }
  }
  
  @media screen and (min-width: 1200px) {
   a.button.large:any-link {
      font-size: 18px;
      line-height: 24px;
      padding: 10px 26px;
    }
  }
/* CUSTOM - Button redesign animation ends */  

/* CUSTOM - Logo animation starts */  

/* Set light gray border */
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
  }

  /* Shape */
  .square {
    position: absolute;
    width: 1000px;
    height: 100vh;
    background-color: transparent;
    border-color: red;
    border-style: solid;
    border-width: 40px;
    animation-duration: 1.5s;
    /* animation-iteration-count: 3; */
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;  
  }

  /* Shape */
  .logo {
    position: absolute;
    width: 0px;
    height: 0px;
    animation-duration: 1.45s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: initial;   
    background-size: 100px 100px;
    background-image: url("https://raw.githubusercontent.com/leoadobe/iaem/main/media/primary.png");
  }

  /* Grow */
  .grow {
    animation-name: grow;
  }

  @keyframes grow {
    from {
      width: 0px;
      height: 0px;
    }

    to {
      width: 100px;
      height: 100px;
    }
  }

  /* Shrink */
  .shrink {
    animation-name: shrink;
  }

  @keyframes shrink {
    from {
      transform: scale(3);
    }

    to {
      transform: scale(0);
    }
  }
/* CUSTOM - Logo animation ends */  